## Dictiontiries

In [81]:
cell = {
    1 :"Lenovo",
    2 : "Dell",
    3 : "Hp",
    4 : "Apple"
}

In [82]:
cell

{1: 'Lenovo', 2: 'Dell', 3: 'Hp', 4: 'Apple'}

In [83]:
cell.values()

dict_values(['Lenovo', 'Dell', 'Hp', 'Apple'])

In [84]:
cell.keys()

dict_keys([1, 2, 3, 4])

In [85]:
cell.items()

dict_items([(1, 'Lenovo'), (2, 'Dell'), (3, 'Hp'), (4, 'Apple')])

In [86]:
cell

{1: 'Lenovo', 2: 'Dell', 3: 'Hp', 4: 'Apple'}

In [87]:
cell[2]

'Dell'

In [88]:
cell ["Price"] = 400000
cell

{1: 'Lenovo', 2: 'Dell', 3: 'Hp', 4: 'Apple', 'Price': 400000}

In [44]:
cell [1] = "Lenovo",5000
cell [2] = "Dell","Price",4000
cell [3] = "Hp","Price",3000
cell [4] = "Apple","Price",20000

In [52]:
cell

{1: ('Lenovo', 5000),
 2: ('Dell', 'Price', 4000),
 3: ('Hp', 'Price', 3000),
 4: ('Apple', 'Price', 20000),
 'Price1': 400000}

In [54]:
del cell["Price1"]

In [55]:
cell

{1: ('Lenovo', 5000),
 2: ('Dell', 'Price', 4000),
 3: ('Hp', 'Price', 3000),
 4: ('Apple', 'Price', 20000)}

In [62]:
l = list(range(1,100))
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [66]:
for a in l:
    print(a**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

In [70]:
a = [4,7,3,6] *2
a

[4, 7, 3, 6, 4, 7, 3, 6]

In [73]:
[z*2 for z in a]

[8, 14, 6, 12, 8, 14, 6, 12]

In [91]:
cell.keys()

dict_keys([1, 2, 3, 4, 'Price'])

In [117]:
for ilma in cell.keys():
    print(ilma)

1
2
3
4

In [118]:
cell.keys()

dict_keys([1, 2, 3, 4])

In [122]:
del cell["Price"]

KeyError: 'Price'

In [120]:
cell

{1: 'Lenovo', 2: 'Dell', 3: 'Hp', 4: 'Apple'}

In [129]:
for k ,v in cell.items():
    print(k,"===============",v)

1 =============== Lenovo
2 =============== Dell
3 =============== Hp
4 =============== Apple

In [141]:
a

[4, 7, 3, 6, 4, 7, 3, 6]

In [142]:
7 in a

True

In [143]:
l = ["list","notlist"]
l

['list', 'notlist']

In [146]:
"list" not in l

False

In [147]:
a

[4, 7, 3, 6, 4, 7, 3, 6]

## if and else

In [148]:
a

[4, 7, 3, 6, 4, 7, 3, 6]

In [150]:
if 50 in a:
    print("yep it is")
else:
     print("it is not")

it is not

In [152]:
if 7 in a:
    print("yep it is")
else:
     print("it is not")

yep it is

In [163]:
m = [5,6,7]
b = input("Enter Value")
b = int(b)

for b in m:
    print("abc")
else:
    print("not valid")

Enter Value7
abc
abc
abc
not valid

In [165]:
m

[5, 6, 7]

In [166]:
n = m*2
n

[5, 6, 7, 5, 6, 7]

In [167]:
set(n)

{5, 6, 7}