In [48]:
name="  Ali  Uzḁir    "
name

'  Ali  Uzḁir    '

## lstrip
-  for removing left space

In [9]:
name.lstrip()

'Ali  Uzair    '

## rstrip
- for removing space from right side

In [10]:
name.rstrip()

'  Ali  Uzair'

## strip
- remove spaces from the both sides

In [11]:
name.strip()

'Ali  Uzair'

## name.capialize
- Converts first chracter to capital

In [15]:
name.capitalize()

'  ali  uzair    '

## name.casefold
- returns all the chracters casefolded similar to lowercase

In [21]:
string="Helloo World !"
string

'Helloo World !'

In [22]:
string.casefold()

'helloo world !'

## string.center
- align to center
- e.g sring.center(10)

In [28]:
string.center(100)

'                                           Helloo World !                                           '

## .Count
- Count the similar values

In [45]:
laptop = ["samsung","samsung","lenovo"]
laptop

['samsung', 'samsung', 'lenovo']

In [42]:
laptop.count("samsung")

2

## .encode
- returns encoded form of input

In [49]:
name.encode()

b'  Ali  Uz\xe1\xb8\x81ir    '

## .endswith
- give the replies in true or false

In [10]:
var="Welcome to my website."
var

'Welcome to my website.'

In [64]:
var.endswith(".")

True

## .Expand tabs
- Replaces Tab character With Spaces

In [69]:
txt="H\te\tl\tl\to"
txt

'H\te\tl\tl\to'

In [70]:
txt.expandtabs(4)

'H   e   l   l   o'

## .find
- Returns the index of first occurrence of substring

In [77]:
var

'Welcome to my website.'

In [78]:
var.find("o")

4

## .Format
- The format() function formats a specified value into a specified format.

In [83]:
First_name="Harry"
Apples=5


print("{} ate {} apples today".format(First_name,Apples))

Harry ate 5 apples today

In [84]:
print("{1} ate {0} apples today".format(First_name,Apples))

5 ate Harry apples today

## .Format_map
- 	Formats specified values in a string

In [9]:
var = {'x':2 , 'y':-5}
print ('{x} {y}'.format(**var))

2 -5

## .index
- Searches the string for a specified value and returns the position of where it was found

In [12]:
var.index('my')

11

## .isalnum
- Returns True if all characters in the string are alphanumeric

In [16]:
var='ali12'
var.isalnum()

True

## .isalpha
- Returns True if all characters in the string are in the alphabet

In [18]:
var.isalpha()

False

## .isdecimal
- Returns True if all characters in the string are decimals

In [45]:
var = '000122'

In [46]:
var.isdecimal()

True

## .isdigit
- Returns True if all characters in the string are digits\

In [47]:
var.isdigit()

True

## .isidentifier
- 	Returns True if the string is an identifier

In [49]:
var.isidentifier()

False

In [55]:
var = 'Ali'

In [56]:
var.isidentifier()

True

## islower
- Returns True if all characters in the string are lower case

In [57]:
var.islower()

False

In [65]:
var = 'ali'

In [66]:
var.islower()

True

## isnumeric
- 	Returns True if all characters in the string are numeric

In [69]:
var = '012313'

In [70]:
var.isnumeric()

True

## .isprintable
- Returns True if all characters in the string are printable

In [71]:
var.isprintable()

True

## .isspace
- Returns True if all characters in the string are whitespaces

In [77]:
var = " "
var
var.isspace()

True

## .istitle
- Returns True if the string follows the rules of a title

In [84]:
var = 'Syed Ali Uz Zaman'
var

'Syed Ali Uz Zaman'

In [85]:
var.istitle()

True

## .isupper
- Returns True if all characters in the string are upper case

In [87]:
var= "SYED ALI"

In [88]:
var.isupper()

True

## .join
- 	Joins the elements of an iterable to the end of the string

In [92]:
var = ("Syed","Ali","Uz","Zaman")

In [97]:
" ".join(var)

'Syed Ali Uz Zaman'

## .ljust
- 	Returns a left justified version of the string

In [116]:
var = "Syed Ali Uz Zaman"

In [129]:
var.ljust(0)

print(var, "is my Full Name")

Syed Ali Uz Zaman is my Full Name

## .lower
- 	Converts a string into lower case

In [130]:
var.lower()

'syed ali uz zaman'

## .maketrans
- Returns a translation table to be used in translations

In [135]:
a = "Syed ali"
b = "Uz zaman"
print(string.maketrans(a,b))

{83: 85, 121: 122, 101: 32, 100: 122, 32: 97, 97: 109, 108: 97, 105: 110}

## .partition
- Returns a tuple where the string is parted into three parts

In [161]:
a = "My name is Syed Ali, My First Name Is Syed"
a.partition("Syed")

('My name is ', 'Syed', ' Ali, My First Name Is Syed')

## .replace
- Returns a string where a specified value is replaced with a specified value

In [143]:
var = "Syed sajed Uz Zaman"
var.replace("sajed", "Ali")

'Syed Ali Uz Zaman'

## .rfind
- Searches the string for a specified value and returns the last position of where it was found

In [153]:
var = "Syed Ali,Syed Ali."

In [154]:
var.rfind("Ali")

14

## .rindex
-  Searches the string for a specified value and returns the last position of where it was found

In [156]:
var.rindex("Syed")

9

## .rpartition
- Returns a tuple where the string is parted into three parts

In [157]:
var = "My Name is Syed Ali , My First Name is Syed"

In [158]:
var.rpartition("Syed")

('My Name is Syed Ali , My First Name is ', 'Syed', '')

## .rsplit
- Splits the string at the specified separator, and returns a list

In [169]:
var = "Syed , Ali, Zaman"
var.rsplit(", ")

['Syed ', 'Ali', 'Zaman']

## .rstrip 
-	Returns a right trim version of the string

In [181]:
var = "             Syed           Ali      Uz           Zaman    "

var.rstrip()

'             Syed           Ali      Uz           Zaman'

## .split is Simillar to .rsplit

## .splitlines
- Splits the string at line breaks and returns a list

In [187]:
var = "Welcome to the Uit\nit is Ai Class"
var.splitlines()

['Welcome to the Uit', 'it is Ai Class']

## .startswith 
- Returns true if the string starts with the specified value

In [190]:
var = "Syed Ali Uz Zaman"

In [195]:
var.startswith("Syed")

True

## .swapcase
- Swaps cases, lower case becomes upper case and vice versa

In [196]:
var = "Syed Ali UZ ZAMAN"
var.swapcase()

'sYED aLI uz zaman'

## .title
- Converts the first character of each word to upper case

In [198]:
var.title()

'Syed Ali Uz Zaman'

## .translate
- Returns a translated string

## .upper()
- Converts a string into upper case

In [206]:
var.upper()

'SYED ALI UZ ZAMAN'

## .zfill()
- 	Fills the string with a specified number of 0 values at the beginning

In [207]:
var = "30"

In [208]:
var.zfill(10)

'0000000030'