In [48]:
name="  Ali  Uzḁir    "
name

'  Ali  Uzḁir    '

## lstrip
-  for removing left space

In [9]:
name.lstrip()

'Ali  Uzair    '

## rstrip
- for removing space from right side

In [10]:
name.rstrip()

'  Ali  Uzair'

## strip
- remove spaces from the both sides

In [11]:
name.strip()

'Ali  Uzair'

## name.capialize
- Converts first chracter to capital

In [15]:
name.capitalize()

'  ali  uzair    '

## name.casefold
- returns all the chracters casefolded similar to lowercase

In [21]:
string="Helloo World !"
string

'Helloo World !'

In [22]:
string.casefold()

'helloo world !'

## string.center
- align to center
- e.g sring.center(10)

In [28]:
string.center(100)

'                                           Helloo World !                                           '

## .Count
- Count the similar values

In [45]:
laptop = ["samsung","samsung","lenovo"]
laptop

['samsung', 'samsung', 'lenovo']

In [42]:
laptop.count("samsung")

2

## .encode
- returns encoded form of input

In [49]:
name.encode()

b'  Ali  Uz\xe1\xb8\x81ir    '

## .endswith
- give the replies in true or false

In [63]:
var="Welcome to my website."
var

'Welcome to my website.'

In [64]:
var.endswith(".")

True

## .Expand tabs
- Replaces Tab character With Spaces

In [69]:
txt="H\te\tl\tl\to"
txt

'H\te\tl\tl\to'

In [70]:
txt.expandtabs(4)

'H   e   l   l   o'

## .find
- Returns the index of first occurrence of substring

In [77]:
var

'Welcome to my website.'

In [78]:
var.find("o")

4

## .Format
- The format() function formats a specified value into a specified format.

In [83]:
First_name="Harry"
Apples=5


print("{} ate {} apples today".format(First_name,Apples))

Harry ate 5 apples today

In [84]:
print("{1} ate {0} apples today".format(First_name,Apples))

5 ate Harry apples today